.content-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 20px;
    left: 288px;
}

.footer-left,
.footer-right,
a {
    font-size: 12px;
    font-family: Bold-Font;
}

.footer-left {
    margin-right: 280px;
}

.page-list {
    display: flex;
}

.footer-right {
    margin-left: 340px;
}

.number-page {
    margin: auto;
}

a {
    text-decoration: none;
    color: #000;
    padding: 7px 12px;
}

.btn-clicking,
.number__hover:hover {
    background-color: #019162;
    border-radius: 50%;
    color: #fff;
}